@import 'config';
@import 'utilities';

body {
  background-color: $SecHeadColor;
}
//Navbar
.navbar {
  overflow: hidden;
  height: 3rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: $HeaderColor;
  font-style: $font-stack;
  position: fixed;
  top: 0;
  width: 100%;
  h1 {
    color: $ButtonColor;
    align-self: bottom;
    margin-top: 0.75rem;
    margin-left: 2rem;

    a {
      color: $ButtonColor;
      text-decoration: none;
    }
  }
  ul {
    justify-self: end;
    li {
      padding-right: 2rem;
      list-style-type: none;
      display: inline;
      a {
        color: $ButtonColor;
        text-decoration: none;
        font-size: 18px;
        padding-right: 15px;
      }

      a:hover {
        color: $SecBackColor;
        font-size: 99%;
      }
    }
  }
}
//Jumbotron
.splashing {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: $BackColor;
  font-style: $font-stack;
  margin-top: 10rem;
  height: 25rem;
  width: 75%;
  margin-left: 12.5%;
  border-radius: 2rem;
  .splash  {
    grid-column: 2/6;
    align-self:center;
    border: solid $HeaderColor;
    border-radius: 1rem;
    padding:3rem;
    h2 {
      color: $SecHeadColor;
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
      color: $SecHeadColor;
    }
    .btn {
      font-size: 1rem;
      color: $ButtonColor;
      background-color:  $HeaderColor;
      border-radius: .5rem;
      padding: .25rem;
    }
    .btn:hover {
      color: $SecBackColor;
      font-size: 95%;
    }
  }
  //Side Image
  .splashImg {
    grid-column: 6/8;
    align-self: center;
    justify-self: end;
    margin-left: 2rem;
    img {
       width: 15rem;
    }
  }
}

//footer
.footer {
  font-style: $font-stack;
  background-color: $BackColor;
  height: 2rem;
  margin-top: 90%;
  font-size: .75rem;
  padding-left: 1rem;
}

@media(max-width:600px){
  .splash{
    img{
      display: none;
    }
  }
}
